<!DOCTYPE html>
<html>
<head>
    <!-- Rules -->
    <title>{% block title %}ProjISEN{% endblock %}</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href='{{ asset('ressources/icons/favicon.png') }}'>
    <!-- CSS -->
    {% block stylesheets %}{% endblock %}
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
</head>
<body>
<!-- Navbar -->
{% include 'components/navbar.html.twig' %}
<!-- Body -->
{% block body %}{% endblock %}
<!-- Footer -->
<footer class='footer mt-auto py-1 bg-light text-center fixed-bottom'>
    <span class='text-muted'>Copyrighted by Pierre Landais & Tristan Roux</span>
</footer>
<!-- JavaScript -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous'></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
